VITE_API_URL=https://api.h-ola.app/api
VITE_WS_URL=https://api.h-ola.app/ws
VITE_CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/dkdzpx1b0/image/upload
VITE_CLOUDINARY_UPLOAD_PRESET=your_preset_here
